extends layout

block content
  div(class='wrapper')
    div(class='section--page')
      div(class='home--art')
      div(class='home--intro')
        div(class='prof-pic')
        p(class='prof-detail').
          HI! My name is Aldrin Navarro.<br/><br/>
          I’m a web developer. I enjoy 
          coding in Python and Javascript.<br/><br/>
          On my spare time, I play with my 
          dog, listen to music, read articles and draw comic strips.<br/></br>
          Today is a lovely day and here’s 
          a free art for you.<br/>
