extends layout

block content
  div(class='wrapper')
    div(class='section--page')
      div(class='home--art')
      div(class='home--intro')
        div(class='prof-pic')
        p(class='prof-detail').
          <b>HI!</b> My name is <b>Aldrin Navarro.</b><br/><br/>
          I’m a web developer. I enjoy 
          coding in Python and Javascript.<br/><br/>
          On my spare time, I play with my 
          dog, listen to music, read articles and draw comic strips.<br/></br>
          Today is a lovely day and here’s 
          a free art for you.<br/>
        div(class='prof-social')
          a(href="https://github.com/aldnav/")
            div(class='link link--github')
          a(href="https://ph.linkedin.com/in/aldrin-navarro")
            div(class='link link--linkedin')
          a(href="https://www.upwork.com/o/profiles/users/_~016ab157c8eed56c6b/")
            div(class='link link--upwork')
          a
            div(class='link link--comics')
