html, body {
  font: 14px "Fira", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
}

@font-face {
  font-family: 'Fira';
  src: url('../fonts/FiraCode-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'Fura';
  src: url('../fonts/FuraMono-Regular Powerline.otf')  format('opentype');
}


a {
  color: #00B7FF;
}

.wrapper {
    background-color: gray;
}

.section--page {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.home--art {
    order: 1;
    background-image: url("https://drscdn.500px.org/photo/55489636/m%3D2048/398a65d40631e29db3b56a588c1412f1");
    background-size: cover;
    flex: 0 0 70%;
}

.home--intro {
    order: 2;
    background-color: white;
    padding: 20px;
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home--intro > * {
    align-self: center;
}

.prof-pic {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-image: url('../images/me.png');
    background-size: cover;
    background-position: center -12px;
    background-repeat: no-repeat;
    background-color: gray;
}
.prof-detail {
    text-align: justify;
    max-width: 300px;
    font-size: 14px;
}
.prof-social {
    display: flex;
}
.prof-social .link {
    flex: 1;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 5px;
    background-color: gray;
    transition: 0.2s all ease-in-out;
}
.prof-social .link:hover {
    transform: scale(1.2);
}
.link--github {
    background-image: url('../images/github.png');
    background-size: cover;
}
.link--linkedin {
    background-image: url('../images/linkedin.png');
    background-size: cover;
}
.link--upwork {
    background-image: url('../images/upwork.png');
    background-size: cover;
}
.link--comics {
    background-image: url('../images/comics.png');
    background-size: cover;
}
